In [7]:
import pandas as pd

In [ ]:
# Load the data from data-2020
df = pd.read_csv('data-2020/athlete_events.csv')
# Print the dataframe with year ascending
print(df.sort_values('Year'))

In [ ]:
athletes = pd.read_csv('data2024/athletes.csv')
print(athletes.head())

      code  current               name     name_short            name_tv  \
0  1532872     True   ALEKSANYAN Artur   ALEKSANYAN A   Artur ALEKSANYAN
1  1532873     True     AMOYAN Malkhas       AMOYAN M     Malkhas AMOYAN
2  1532874     True    GALSTYAN Slavik     GALSTYAN S    Slavik GALSTYAN
3  1532944     True  HARUTYUNYAN Arsen  HARUTYUNYAN A  Arsen HARUTYUNYAN
4  1532945     True    TEVANYAN Vazgen     TEVANYAN V    Vazgen TEVANYAN

  gender function country_code  country country_long  ...  \
0   Male  Athlete          ARM  Armenia      Armenia  ...
1   Male  Athlete          ARM  Armenia      Armenia  ...
2   Male  Athlete          ARM  Armenia      Armenia  ...
3   Male  Athlete          ARM  Armenia      Armenia  ...
4   Male  Athlete          ARM  Armenia      Armenia  ...

                                              family  \
0                          Father, Gevorg Aleksanyan
1                                                NaN
2                                                NaN
3  Wife, Diana (married October 2022). Daughter, ...
4                 Wife, Sona (married November 2023)

                         lang  \
0  Armenian, English, Russian
1                    Armenian
2                    Armenian
3                    Armenian
4           Armenian, Russian

                                               coach  \
0                    Gevorg Aleksanyan (ARM), father
1                                                NaN
2  Personal: Martin Alekhanyan (ARM).<br>National...
3                      National: Habetnak Kurghinyan
4                National: Habetnak Kurghinyan (ARM)

                                              reason  \
0  He followed his father and his uncle into the ...
1                                                NaN
2                                                NaN
3  While doing karate he noticed wrestlers traini...
4  “My family did not like wrestling very much. A...

                                                hero  \
0  Footballer Zinedine Zidane (FRA), World Cup wi...
1                                                NaN
2                                                NaN
3  Wrestler Armen Nazaryan (ARM, BUL), two-time O...
4                                                NaN

                       influence  \
0  His father, Gevorg Aleksanyan
1                            NaN
2                            NaN
3                            NaN
4                            NaN

                                          philosophy  \
0  "Wrestling is my life." (mediamax.am. 18 May 2...
1  "To become a good athlete, you first have to b...
2                                                NaN
3  “Nothing is impossible, set goals in front of ...
4                                                NaN

                                  sporting_relatives ritual other_sports
0                                                NaN    NaN          NaN
1  Uncle, Roman Amoyan (wrestling), 2008 Olympic ...    NaN          NaN
2                                                NaN    NaN          NaN
3                                                NaN    NaN          NaN
4                                                NaN    NaN          NaN

[5 rows x 36 columns]

In [14]:
medals = pd.read_csv('data2024/medals.csv')
# Print medals with year ascending
# print(medals.head())
print(medals.sort_values('medal_date'))

        medal_type  medal_code  medal_date             name gender  \
0       Gold Medal         1.0  2024-07-27  Remco EVENEPOEL      M
23      Gold Medal         1.0  2024-07-27           France      M
24    Silver Medal         2.0  2024-07-27             Fiji      M
25    Bronze Medal         3.0  2024-07-27     South Africa      M
26      Gold Medal         1.0  2024-07-27          China 1      X
...            ...         ...         ...              ...    ...
1013  Silver Medal         2.0  2024-08-11   Elodie CLOUVEL      W
1014  Bronze Medal         3.0  2024-08-11   SEONG Seungmin      W
1015    Gold Medal         1.0  2024-08-11            Italy      W
1018  Silver Medal         2.0  2024-08-11          Croatia      M
1008  Bronze Medal         3.0  2024-08-11    Emma FINUCANE      W

             discipline                        event event_type  \
0          Cycling Road  Men's Individual Time Trial        ATH
23         Rugby Sevens                          Men      HTEAM
24         Rugby Sevens                          Men      HTEAM
25         Rugby Sevens                          Men      HTEAM
26             Shooting     10m Air Rifle Mixed Team      HTEAM
...                 ...                          ...        ...
1013  Modern Pentathlon           Women's Individual        ATH
1014  Modern Pentathlon           Women's Individual        ATH
1015         Volleyball                        Women      HTEAM
1018         Water Polo                          Men      HTEAM
1008      Cycling Track               Women's Sprint        ATH

                                              url_event               code  \
0     /en/paris-2024/results/cycling-road/men-s-indi...            1903136
23    /en/paris-2024/results/rugby-sevens/men/fnl-00...  RU7MTEAM7---FRA01
24    /en/paris-2024/results/rugby-sevens/men/fnl-00...  RU7MTEAM7---FIJ01
25    /en/paris-2024/results/rugby-sevens/men/fnl-00...  RU7MTEAM7---RSA01
26    /en/paris-2024/results/shooting/10m-air-rifle-...  SHOXARMT----CHN01
...                                                 ...                ...
1013  /en/paris-2024/results/modern-pentathlon/women...            1545116
1014  /en/paris-2024/results/modern-pentathlon/women...            1786902
1015  /en/paris-2024/results/volleyball/women/fnl-00...  VVOWTEAM6---ITA01
1018  /en/paris-2024/results/water-polo/men/fnl-0001...  WPOMTEAM7---CRO01
1008  /en/paris-2024/results/cycling-track/women-s-s...            1912522

     country_code        country                country_long
0             BEL        Belgium                     Belgium
23            FRA         France                      France
24            FIJ           Fiji                        Fiji
25            RSA   South Africa                South Africa
26            CHN          China  People's Republic of China
...           ...            ...                         ...
1013          FRA         France                      France
1014          KOR          Korea           Republic of Korea
1015          ITA          Italy                       Italy
1018          CRO        Croatia                     Croatia
1008          GBR  Great Britain               Great Britain

[1044 rows x 13 columns]

In [ ]:
#