In [7]:
import pandas as pd

In [30]:
# Load the data from data-2020
df = pd.read_csv('data2016/athlete_events.csv')
# Print unique values of the column team
print(df['NOC'].unique())

['CHN' 'DEN' 'NED' 'USA' 'FIN' 'NOR' 'ROU' 'EST' 'FRA' 'MAR' 'ESP' 'EGY'
 'IRI' 'BUL' 'ITA' 'CHA' 'AZE' 'SUD' 'RUS' 'ARG' 'CUB' 'BLR' 'GRE' 'CMR'
 'TUR' 'CHI' 'MEX' 'URS' 'NCA' 'HUN' 'NGR' 'ALG' 'KUW' 'BRN' 'PAK' 'IRQ'
 'UAR' 'LIB' 'QAT' 'MAS' 'GER' 'CAN' 'IRL' 'AUS' 'RSA' 'ERI' 'TAN' 'JOR'
 'TUN' 'LBA' 'BEL' 'DJI' 'PLE' 'COM' 'KAZ' 'BRU' 'IND' 'KSA' 'SYR' 'MDV'
 'ETH' 'UAE' 'YAR' 'INA' 'PHI' 'SGP' 'UZB' 'KGZ' 'TJK' 'EUN' 'JPN' 'CGO'
 'SUI' 'BRA' 'FRG' 'GDR' 'MON' 'ISR' 'URU' 'SWE' 'ISV' 'SRI' 'ARM' 'CIV'
 'KEN' 'BEN' 'UKR' 'GBR' 'GHA' 'SOM' 'LAT' 'NIG' 'MLI' 'AFG' 'POL' 'CRC'
 'PAN' 'GEO' 'SLO' 'CRO' 'GUY' 'NZL' 'POR' 'PAR' 'ANG' 'VEN' 'COL' 'BAN'
 'PER' 'ESA' 'PUR' 'UGA' 'HON' 'ECU' 'TKM' 'MRI' 'SEY' 'TCH' 'LUX' 'MTN'
 'CZE' 'SKN' 'TTO' 'DOM' 'VIN' 'JAM' 'LBR' 'SUR' 'NEP' 'MGL' 'AUT' 'PLW'
 'LTU' 'TOG' 'NAM' 'AHO' 'ISL' 'ASA' 'SAM' 'RWA' 'DMA' 'HAI' 'MLT' 'CYP'
 'GUI' 'BIZ' 'YMD' 'KOR' 'THA' 'BER' 'ANZ' 'SCG' 'SLE' 'PNG' 'YEM' 'IOA'
 'OMA' 'FIJ' 'VAN' 'MDA' 'YUG' 'BAH' 'GUA' 'SRB' 'IVB' 'MOZ' 'CAF' 'MAD'
 'MAL' 'BIH' 'GUM' 'CAY' 'SVK' 'BAR' 'GBS' 'TLS' 'COD' 'GAB' 'SMR' 'LAO'
 'BOT' 'ROT' 'CAM' 'PRK' 'SOL' 'SEN' 'CPV' 'CRT' 'GEQ' 'BOL' 'SAA' 'AND'
 'ANT' 'ZIM' 'GRN' 'HKG' 'LCA' 'FSM' 'MYA' 'MAW' 'ZAM' 'RHO' 'TPE' 'STP'
 'MKD' 'BOH' 'TGA' 'LIE' 'MNE' 'GAM' 'COK' 'ALB' 'WIF' 'SWZ' 'BUR' 'NBO'
 'BDI' 'ARU' 'NRU' 'VNM' 'VIE' 'BHU' 'MHL' 'KIR' 'UNK' 'TUV' 'NFL' 'KOS'
 'SSD' 'LES']

In [33]:
# Load the data from data2020
df2 = pd.read_csv('data2024/athletes.csv')
df2.head()

,code,current,name,name_short,name_tv,gender,function,country_code,country,country_long,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
0,1532872,True,ALEKSANYAN Artur,ALEKSANYAN A,Artur ALEKSANYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Father, Gevorg Aleksanyan","Armenian, English, Russian","Gevorg Aleksanyan (ARM), father",He followed his father and his uncle into the ...,"Footballer Zinedine Zidane (FRA), World Cup wi...","His father, Gevorg Aleksanyan","""Wrestling is my life."" (mediamax.am. 18 May 2...",NaN,NaN,NaN
1,1532873,True,AMOYAN Malkhas,AMOYAN M,Malkhas AMOYAN,Male,Athlete,ARM,Armenia,Armenia,...,NaN,Armenian,NaN,NaN,NaN,NaN,"""To become a good athlete, you first have to b...","Uncle, Roman Amoyan (wrestling), 2008 Olympic ...",NaN,NaN
2,1532874,True,GALSTYAN Slavik,GALSTYAN S,Slavik GALSTYAN,Male,Athlete,ARM,Armenia,Armenia,...,NaN,Armenian,Personal: Martin Alekhanyan (ARM).<br>National...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1532944,True,HARUTYUNYAN Arsen,HARUTYUNYAN A,Arsen HARUTYUNYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Wife, Diana (married October 2022). Daughter, ...",Armenian,National: Habetnak Kurghinyan,While doing karate he noticed wrestlers traini...,"Wrestler Armen Nazaryan (ARM, BUL), two-time O...",NaN,"“Nothing is impossible, set goals in front of ...",NaN,NaN,NaN
4,1532945,True,TEVANYAN Vazgen,TEVANYAN V,Vazgen TEVANYAN,Male,Athlete,ARM,Armenia,Armenia,...,"Wife, Sona (married November 2023)","Armenian, Russian",National: Habetnak Kurghinyan (ARM),“My family did not like wrestling very much. A...,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
athletes2020 = pd.read_csv('data2020/athletes.csv')
medals2020 = pd.read_csv('data2020/medals.csv')
athletes2024 = pd.read_csv('data2024/athletes.csv')
medals2024 = pd.read_csv('data2024/medals.csv')

In [21]:
print(athletes2020.head())

                name  short_name  gender  birth_date birth_place  \
0    AALERUD Katrine   AALERUD K  Female  1994-12-04      VESTBY
1        ABAD Nestor      ABAD N    Male  1993-03-29       ALCOI
2  ABAGNALE Giovanni  ABAGNALE G    Male  1995-01-11    GRAGNANO
3     ABALDE Alberto    ABALDE A    Male  1995-12-15      FERROL
4      ABALDE Tamara    ABALDE T  Female  1989-02-06        VIGO

  birth_country country country_code           discipline discipline_code  \
0        Norway  Norway          NOR         Cycling Road             CRD
1         Spain   Spain          ESP  Artistic Gymnastics             GAR
2         Italy   Italy          ITA               Rowing             ROW
3         Spain   Spain          ESP           Basketball             BKB
4         Spain   Spain          ESP           Basketball             BKB

  residence_place residence_country height_m/ft  \
0             NaN               NaN         NaN
1          MADRID             Spain  1.65/5'4''
2        SABAUDIA             Italy  1.98/6'5''
3             NaN               NaN  2.00/6'6''
4             NaN               NaN  1.92/6'3''

                                                 url
0  ../../../en/results/cycling-road/athlete-profi...
1  ../../../en/results/artistic-gymnastics/athlet...
2  ../../../en/results/rowing/athlete-profile-n13...
3  ../../../en/results/basketball/athlete-profile...
4  ../../../en/results/basketball/athlete-profile...

In [20]:
print(medals2020.head())

     medal_type  medal_code             medal_date athlete_short_name  \
0    Gold Medal           1  2021-07-24 00:00:00.0             KIM JD
1    Gold Medal           1  2021-07-24 00:00:00.0               AN S
2  Silver Medal           2  2021-07-24 00:00:00.0       SCHLOESSER G
3  Silver Medal           2  2021-07-24 00:00:00.0           WIJLER S
4  Bronze Medal           3  2021-07-24 00:00:00.0          ALVAREZ L

          athlete_name athlete_sex  \
0          KIM Je Deok           X
1               AN San           X
2  SCHLOESSER Gabriela           X
3         WIJLER Steve           X
4         ALVAREZ Luis           X

                                        athlete_link country_code  \
0  ../../../en/results/archery/athlete-profile-n1...          KOR
1  ../../../en/results/archery/athlete-profile-n1...          KOR
2  ../../../en/results/archery/athlete-profile-n1...          NED
3  ../../../en/results/archery/athlete-profile-n1...          NED
4  ../../../en/results/archery/athlete-profile-n1...          MEX

  discipline_code       event            country discipline
0             ARC  Mixed Team  Republic of Korea    Archery
1             ARC  Mixed Team  Republic of Korea    Archery
2             ARC  Mixed Team        Netherlands    Archery
3             ARC  Mixed Team        Netherlands    Archery
4             ARC  Mixed Team             Mexico    Archery

In [ ]:
import pandas as pd

# Merge the datasets on the athlete name column
# Assuming "medal_type" is the column in the medals dataset that indicates the medal type (Gold, Silver, Bronze)
athletes_medals2024 = athletes2024.merge(medals2024[['athletes_name', 'medal_type']], on='name', how='left')

# Group by athlete and count or list medals, then add it as a new column
# Example 1: To count the number of medals each athlete won
medal_count = athletes_medals.groupby('name')['medal_type'].count()
athletes['medals'] = athletes['name'].map(medal_count)

# Example 2: To list the types of medals each athlete won
medal_list = athletes_medals.groupby('name')['medal_type'].apply(lambda x: ', '.join(x.dropna().unique()))
athletes['medals'] = athletes['name'].map(medal_list)

# Save the updated athletes dataset
athletes.to_csv('athletes_with_medals.csv', index=False)

print(athletes.head())